<aside class="sidebar">
    <!-- sidebar close btn -->
    <button type="button" class="sidebar-close-btn text-gray-500 hover-text-white hover-bg-main-600 text-md w-24 h-24 border border-gray-100 hover-border-main-600 d-xl-none d-flex flex-center rounded-circle position-absolute">
        <i class="ph ph-x"></i>
    </button>

    <a href="{{ url_for('auth.dashboard') }}" class="sidebar__logo text-center p-20 position-sticky inset-block-start-0 bg-white w-100 z-1 pb-10">
        <img src="{{ url_for('static', filename='assets/images/logo/logo.png') }}" alt="Logo">
    </a>

    <div class="sidebar-menu-wrapper overflow-y-auto scroll-sm">
        <div class="p-20 pt-10">
            <ul class="sidebar-menu">
                <li class="sidebar-menu__item">
                    <a href="{{ url_for('auth.dashboard') }}" class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-squares-four"></i></span>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-menu__item has-dropdown">
                    <a href="javascript:void(0)" class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-microphone"></i></span>
                        <span class="text">Rekaman Microphone</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li class="sidebar-submenu__item">
                            <a href="{{ url_for('upload.upload_audio') }}" class="sidebar-submenu__link">Rekaman Baru</a>
                        </li>
                        <li class="sidebar-submenu__item">
                            <a href="{{ url_for('conn.arsip_page') }}" class="sidebar-submenu__link">Arsip Rekaman</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-menu__item">
                    <a href="{{ url_for('upload.upload_audio') }}" class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-upload"></i></span>
                        <span class="text">Upload Audio</span>
                    </a>
                </li>
                <li class="sidebar-menu__item">
                    <a href="{{ url_for('summarize.list_summary') }}" class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-book-open"></i></span>
                        <span class="text">Rangkuman</span>
                    </a>
                </li>
                <li class="sidebar-menu__item">
                    <a href="{{ url_for('modul.list_modul') }}" class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-notebook"></i></span>
                        <span class="text">Modul</span>
                    </a>
                </li>
                <li class="sidebar-menu__item has-dropdown">
                    <a href="javascript:void(0)" class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-microphone"></i></span>
                        <span class="text">Quiz</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li class="sidebar-submenu__item">
                            <a href="{{ url_for('quizz.index') }}" class="sidebar-submenu__link">Buat Quiz</a>
                        </li>
                        <li class="sidebar-submenu__item">
                            <a href="{{ url_for('quizz.kerjakan_quiz') }}" class="sidebar-submenu__link">Kerjakan Quiz</a>
                        </li>
                    </ul>
                </li>
                    
                
                <!-- Tambahan halaman lain sesuai kebutuhan -->
                <li class="sidebar-menu__item">
                    <a href="{{ url_for('upload.arsip_transkrip_page') }}" class="sidebar-menu__link">
                        <span class="icon"><i class="ph ph-chart-bar"></i></span>
                        <span class="text">Transkrip</span>
                    </a>
                </li>
                
                
                </li>

                <li class="sidebar-menu__item">
                    <span class="text-gray-300 text-sm px-20 pt-20 fw-semibold border-top border-gray-100 d-block text-uppercase">Settings</span>
        </div>

        <div class="p-20 pt-80">
            <div class="bg-main-50 p-20 pt-0 rounded-16 text-center mt-74">
                <span class="border border-5 bg-white mx-auto border-primary-50 w-114 h-114 rounded-circle flex-center text-success-600 text-2xl translate-n74">
                </span>
                <div class="mt-n74">
                    <h5 class="mb-4 mt-22">Terimakasih</h5>
                    <p class=""></p>
                    <a href="{{ url_for('auth.logout') }}"class="btn btn-main mt-16 rounded-pill">Logout</a>
                </div>
            </div>
        </div>
    </div>
</aside>
